[package]
name = "{{ project_name }}"
version = "0.1.0"
edition = "2024"
description = "Rust bootstrap for the {{ repo_name }} repository."
readme = "README.md"
license-file = "LICENSE"
repository = "https://github.com/{{ license_owner }}/{{ repo_name }}"
rust-version = "1.85"

[dependencies]
